<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298437457542-jd1qt2rh5rs7pqn0etrr7homb1b9q6bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298437457542-jd1qt2rh5rs7pqn0etrr7homb1b9q6bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBaUrbNpKQ0d6obgj5PKMRIobEXVroa-FA</string>
	<key>GCM_SENDER_ID</key>
	<string>298437457542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mti.sample.notification</string>
	<key>PROJECT_ID</key>
	<string>visiondg-mestika-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>visiondg-mestika-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298437457542:ios:d2168962031dcf7a588307</string>
</dict>
</plist>