<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333149912108-9d8afsd7sjn6ifb4dho1lru80cc2e283.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333149912108-9d8afsd7sjn6ifb4dho1lru80cc2e283</string>
	<key>API_KEY</key>
	<string>AIzaSyDcvygLl1VwTR0Pd1HmngEZ-LkerfWWOsc</string>
	<key>GCM_SENDER_ID</key>
	<string>333149912108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multipolar.visiondg.Bank-Mestika</string>
	<key>PROJECT_ID</key>
	<string>bank-mestika-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-mestika-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333149912108:ios:f24750158fbb8e4d526589</string>
	<key>DATABASE_URL</key>
	<string>https://bank-mestika-dev.firebaseio.com</string>
</dict>
</plist>